59 17 * * * /bin/bash /home/ubuntu/PracticingCode/DailyBackUpFileCode.sh
* * * * 6 /bin/bash /home/ubuntu/PracticingCode/WeeklyBackUpFileCode.sh
* * 18 * * /bin/bash /home/ubuntu/PracticingCode/MonthlyBackUpFileCode.sh
